header {
   background-color: blueviolet;
   color: brown;
   padding: 20px;
   text-align: center; 
}

nav {
    background-color: aqua;
    color: black;
    padding: 20px;
    text-align: center;
}